@import url('https://fonts.googleapis.com/css?family=Michroma|Archivo+Black|Nunito:400,800');

.App {
 display: flex;
 flex-direction: column;
 height: auto;
 max-width: 100%;
 margin-right: auto;
 margin-left: auto;
 min-height: 100vh;
 font-family: 'Nunito', sans-serif;
 padding: 2.5%;
 border: 2px solid white;
 overflow-x: hidden;

}

.App-logo {
  height: 60px;
  object-fit: scale-down;
  align-self: center;
  padding: 5px;
}

.App-header {
 
}

.App-title {
  font-size: 1em;
  margin: 0 40px 0 40px;
  align-self: center;
  font-family: 'Michroma', sans-serif;
  letter-spacing: 4px;
  padding-bottom: 5px;
  border-bottom: 3px solid white;
  
}

.App-intro {
  font-size: large;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input:not([type=Submit]){
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800px;
  padding: 5px;
  transition: border 400ms
}

input:focus,
input:active,
textarea:focus {
  border: 3px solid #00aeef;
  background-color: white;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  padding: 10px;
  
}

textarea {
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  transition: border 400ms
}


input.login-modal-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px rgb(17, 17, 17) inset;
    -webkit-text-fill-color: white !important;
    border: none;
    font-size: 18px;
    font-family: 'Nunito', sans-serif
}
