.App {
 display: flex;
 flex-direction: column;
 height: auto;
 width: 100%;
 min-height: 100vh;
}

.App-logo {
  height: 80px;
}

.App-header {
 
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 15px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input:not([type=Submit]){
  font-size: 15px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  transition: border 400ms
}

input:focus,
textarea:focus {
  border: 3px solid #00aeef
}

textarea {
  font-size: 13px;
  font-family: 'Nunito', sans-serif;
  padding: 5px;
  transition: border 400ms
}
